.mainContent {
    display: flex;
    gap: 10%;
    align-items: center;
    flex-wrap: wrap;
}

.imgContainer, .infoContainer {
    flex-basis: 40%;
    min-width: 400px;
}

.imgContainer {
    height: 20rem;
    
}


.imgContainer  img{
    height: 100%;
    width: 100%;
}
span {
    font-weight: 800;
    font-size: 16px;
}


.subInfoCon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4em;
    gap: 2em;
    align-items: baseline;
}

.subInfoCon  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .7em;
}

.mainContent h2 {
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 1.8rem;
}

.mainContent p {
    font-weight: 300;
}

.links {
    padding: .5em 1em;
    font-weight: 300;
}

.borderCon {
    display: flex;
    align-items: center;
    /* background-color: red; */
    gap: 1em;
    flex-wrap: wrap;

}

@media screen and (max-width: 973px){
    .mainContent {
        flex-direction: column;
        gap: 3rem;
    }

    .imgContainer, .infoContainer {
        min-width: 100%;
    }
}

@media screen and (max-width: 445px){
    .imgContainer, .infoContainer {
        min-width: auto;
    }
    .subInfoCon {
        flex-wrap: wrap;
        gap: 1em;
    }
}